{% extends 'app.html' %}
{% block tweetList %}
    <nav>
        <div class="container">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <form action="http://127.0.0.1:8000/accounts/logout/" method="POST">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-dark text-light " value="LOGOUT"  />
                    </form>
                </li>
            </ul>
        </div>        
    </nav> 
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h2>All your tweets will be shown here. Stay Tuned!</h2>
                {% for tweet in tweetList %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{tweet.author}}</h5>
                        <p class="">{{tweet.body}}</p>
                        <p><b>{{tweet.date}}</b></p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}