{% extends 'app.html' %}
{% block loginForm %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <nav>
                <ul class="nav nav-tabs py-2">
                    <li class="nav-item"><a href="/" class="nav-link">HOME</a></li>
                    <li class="nav-item"><a href="/accounts/login" class="nav-link active">LOGIN</a></li>
                </ul>
            </nav>
            <div>
                <form action="" method="POST" class="my-2 px-2 py-2">
                    <h2 class="my-2 py-2">Log in</h2>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{field.label_tag}}
                            <br>
                            <input id="{{field.auto_id}}" name="{{field.html_name}}" type="{{field.field.widget.input_type}}" class="form-control">
                            {{field.errors}}
                        </div>
                    {% endfor %}
                    <input type="submit" value="LOGIN" class="btn btn-primary py-2 my-2" />
                    <p class="text-muted">new user? <a href="/accounts/signup">SIGNUP AND GET STARTED.</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}