{% extends 'app.html' %}

{% block signupForm %}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <nav>
                <ul class="nav nav-tabs py-2">
                    <li class="nav-item"><a href="/" class="nav-link">HOME</a></li>
                    <li class="nav-item"><a href="/accounts/login" class="nav-link">LOGIN</a></li>
                </ul>
            </nav>
            <form action="" method="POST" class="my-2 py-2 px-2">
                <h2 class="my-2 py-2">Sign up</h2>
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{field.label_tag}}
                        <br>
                        <input id="{{field.auto_id}}" name="{{field.html_name}}" type="{{field.field.widget.input_type}}" class="form-control">
                        {{ field.errors }}
                    </div>
                {% endfor %}
                <input type="submit" value="SIGNUP" class="btn btn-primary py-2 my-2" />
                <p class="text-muted">existing user? <a href="/accounts/login">LOGIN</a></p>
            </form>
        </div>
    </div>
</div>

{% endblock %}