body{
    font-family: Google Sans;
}
.headings{
    margin-top: 100px;
}
.twitter-banner{
    background-image: url('./Twitter-Background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.errorlist{
    margin: 5px 5px;
    color: crimson;
    list-style-type: none;
}
a :hover{
    text-decoration-style: none;
}
