{% extends 'app.html' %}
{% block homepage %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <nav>
                        <ul class="nav nav-tabs py-2">
                            <li class="nav-item"><a href="/" class="nav-link active">HOME</a></li>
                            <li class="nav-item"><a href="/accounts/login" class="nav-link">LOGIN</a></li>
                        </ul>
                    </nav>
                    <div class="headings d-none d-sm-block d-md-block">
                        <h1 class="">Welcome to Twitter.</h1>
                        <p class="lead">signup and get started to see what's happening around in the world.</p>
                        <a href="/accounts/signup" class="btn btn-primary py-2 my-2">SIGNUP AND GET STARTED.</a>
                        <p class="text-muted">existing user? <a href="/accounts/login">LOGIN</a></p>
                    </div>
                    <div class="my-5 d-block d-sm-none text-center">
                        <i class="fab fa-twitter fa-7x text-info"></i>
                        <h1 class="">Welcome to Twitter.</h1>
                        <p class="lead">signup and get started to see what's happening around in the world.</p>
                        <a href="/accounts/signup" class="btn btn-primary py-2 my-2">SIGNUP AND GET STARTED.</a>
                        <p class="text-muted">existing user? <a href="/accounts/login">LOGIN</a></p>
                    </div>
                </div>
                <div class="twitter-banner col-sm-12 col-md-6 d-none d-md-block">

                </div>
            </div>
        </div>
    </header>
{% endblock %}